# Live Code 3 Phase 0

Nama: Judan Syamsul Hadad

Batch: FTDS-009

## Import Library

In [52]:
import numpy as np
import pandas as pd
from scipy import stats

## Data Loading

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/fahmimnalfrzki/Dataset/main/purchase_data.txt?token=AEZDEHRU5YLQEXGDDLCL6CLA2KZTI',sep=';')
df

        user_id                   timestamp      group landing_page  purchased
0        851104  2017-01-21 22:11:48.556739    control     old_page          0
1        804228  2017-01-12 08:01:45.159739    control     old_page          0
2        661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3        853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4        864975  2017-01-21 01:52:26.210827    control     old_page          1
...         ...                         ...        ...          ...        ...
294473   751197  2017-01-03 22:28:38.630509    control     old_page          0
294474   945152  2017-01-12 00:51:57.078372    control     old_page          0
294475   734608  2017-01-22 11:45:03.439544    control     old_page          0
294476   697314  2017-01-15 01:20:28.957438    control     old_page          0
294477   715931  2017-01-16 12:40:24.467417  treatment     new_page          0

[294478 rows x 5 columns]

**Keterangan Dataset:**
- user_id = id pelanggan
- timestamp = Waktu ketika pelanggan mengakses laman web
- group = grup kontrol dan treatment
- landing_page = landing page yang diakses oleh pelanggan (laman lama atau laman baru)
- purchased = 0 : tidak ada pembelian, and 1: ada pembelian

Cek kelengkapan dan tipe data.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       294478 non-null  int64
 1   timestamp     294478 non-null  object
 2   group         294478 non-null  object
 3   landing_page  294478 non-null  object
 4   purchased     294478 non-null  int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB

Dari dataset yang diberikan, tidak terdapat missing value yang diidentifikasi otomatis oleh Python.

## Data Preprocessing

Pada dasarnya, control group adalah kumpulan data yang tidak menerima perubahan perlakuan (dalam kasus ini tetap di old_page), sedangkan treatment group yang mendapatkan perlakuan berbeda (new_page).

In [5]:
df.head()

   user_id                   timestamp      group landing_page  purchased
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

Bagi data menjadi control group dan treatment group.

In [29]:
df_control = df[(df['group']=='control') & (df['landing_page']=='old_page')]
df_treatment = df[(df['group']=='treatment') & (df['landing_page']=='new_page')]

In [43]:
df_control

        user_id                   timestamp    group landing_page  purchased
0        851104  2017-01-21 22:11:48.556739  control     old_page          0
1        804228  2017-01-12 08:01:45.159739  control     old_page          0
4        864975  2017-01-21 01:52:26.210827  control     old_page          1
5        936923  2017-01-10 15:20:49.083499  control     old_page          0
7        719014  2017-01-17 01:48:29.539573  control     old_page          0
...         ...                         ...      ...          ...        ...
294471   718310  2017-01-21 22:44:20.378320  control     old_page          0
294473   751197  2017-01-03 22:28:38.630509  control     old_page          0
294474   945152  2017-01-12 00:51:57.078372  control     old_page          0
294475   734608  2017-01-22 11:45:03.439544  control     old_page          0
294476   697314  2017-01-15 01:20:28.957438  control     old_page          0

[145274 rows x 5 columns]

In [45]:
df_treatment

        user_id                   timestamp      group landing_page  purchased
2        661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3        853541  2017-01-08 18:28:03.143765  treatment     new_page          0
6        679687  2017-01-19 03:26:46.940749  treatment     new_page          1
8        817355  2017-01-04 17:58:08.979471  treatment     new_page          1
9        839785  2017-01-15 18:11:06.610965  treatment     new_page          1
...         ...                         ...        ...          ...        ...
294462   677163  2017-01-03 19:41:51.902148  treatment     new_page          0
294465   925675  2017-01-07 20:38:26.346410  treatment     new_page          0
294468   643562  2017-01-02 19:20:05.460595  treatment     new_page          0
294472   822004  2017-01-04 03:36:46.071379  treatment     new_page          0
294477   715931  2017-01-16 12:40:24.467417  treatment     new_page          0

[145311 rows x 5 columns]

Jumlah data keduanya berkisar di 145000 baris.

# Problem

1. Hitunglah central tendency (mean, median, modus) tanpa menggunakan pandas.DataFrame.describe()! <strong><i>[Memenuhi Rubrik Penilaian Nomor 1c]</strong></i> dan berdasarkan hasil perhitungan central tendency, data cenderung berpusat ke purchased atau non purchased? apa kesimpulanmu? <strong><i>[Memenuhi Rubrik Penilaian Nomor 2a]</strong></i>

## Central Tendency

### Control

In [32]:
control_mean = np.mean(df_control['purchased'])
control_median = np.median(df_control['purchased'])
control_mode = df_control['purchased'].mode()

print('Mean dataset: ',control_mean)
print('Median dataset: ',control_median)
print('Modus dataset: ',control_mode[0])

Mean dataset:  0.1203863045004612
Median dataset:  0.0
Modus dataset:  0

### Treatment

In [31]:
treatment_mean = np.mean(df_treatment['purchased'])
treatment_median = np.median(df_treatment['purchased'])
treatment_mode = df_treatment['purchased'].mode()

print('Mean dataset: ',treatment_mean)
print('Median dataset: ',treatment_median)
print('Modus dataset: ',treatment_mode[0])

Mean dataset:  0.11880724790277405
Median dataset:  0.0
Modus dataset:  0

**2a. Berdasarkan hasil perhitungan central tendency, data cenderung berpusat ke purchased atau non purchased? apa kesimpulanmu?**

Jika dilihat dari Central Tendency pada dataset control dan treatment, maka  data cenderung berpusat ke non-purchased. Kesimpulan sementara adalah perubahan landing_page tidak membuat pelanggan lebih tertarik untuk membeli barang.

## A/B Testing

2. Buatlah analisa menggunakan konsep A/B testing. Sebelum melakukan perhitungan di Python, definisikan H0 dan H1 dari hipotesis testingnya <strong><i>[Memenuhi Rubrik Penilaian Nomor 2b]</strong></i> dan jenis hipotesis apa yang akan kamu gunakan? <strong><i>[Memenuhi Rubrik Penilaian Nomor 2c]</strong></i>. Setelah melakukan perhitungan menggunakan Python <strong><i>[Memenuhi Rubrik Penilaian Nomor 1d]</strong></i>, Apa kesimpulanmu terhadap hasil A/B testing tsb? <strong><i>[Memenuhi Rubrik Penilaian Nomor 2d]</strong></i>


**2b. Definisikan H0 dan H1 dari hipotesis testingnya!**

H0: Kecenderungan pelanggan untuk membeli antara old_page dan new_page tidak berubah (μ_old = μ_new)

H1: Kecenderungan pelanggan untuk membeli antara old_page dan new_page berubah (μ_old != μ_new)


**2c. Jenis hipotesis apa yang akan kamu gunakan?**

Hipotesis yang digunakan adalah paired test (A/B testing) two tailed karena menguji kesamaan dengan Confidence Interval 95% (Critical Value 5% atau 0.05). Dari kedua dataset akan diambil sebanyak 145000 baris secara acak untuk uji hipotesis.

In [51]:
t_stat, pval = stats.ttest_rel(df_control['purchased'].sample(145000),df_treatment['purchased'].sample(145000))
print('P-value: ',pval)

P-value:  0.18065644329711353

**2d. Apa kesimpulanmu terhadap hasil A/B testing tsb?**

P-value yang didapat lebih besar dari Critical Value (0.05), berarti kita bisa terima H0.

**Tidak terdapat cukup bukti untuk menolak pernyataan kecenderungan pelanggan untuk membeli antara old_page dan new_page tidak berubah.**

Jika disederhanakan berarti pelanggan tetap cenderung tidak membeli barang meskipun landing page berubah dari old_page ke new_page.