In [32]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import pandas as pd
import numpy as np

class Replacer(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        return self
    def transform(self, X, y=None):
        X.replace({'yes':'unknown'}, inplace=True)
        return X

In [2]:
X= ['yes','no','unknown','yes']
y = ['a','b','c','d']
df = pd.DataFrame(X).rename(columns={0:'default'})
y=pd.Series(y)

In [3]:
df = pd.concat([df,y],axis=1).rename(columns={0:'target'})

In [4]:
df

   default target
0      yes      a
1       no      b
2  unknown      c
3      yes      d

In [34]:
from feature_engine.outliers import OutlierTrimmer, Winsorizer
from sklearn.preprocessing import StandardScaler

In [35]:
trimmer_skewed = Winsorizer(capping_method='iqr',tail='both',fold=1.5)

In [36]:
pipe = Pipeline([("use_custom_transformer", Replacer()),])

In [37]:
prep = ColumnTransformer([
    ('default', pipe, ['default']),
    ('age',Pipeline([('trimmer',trimmer_skewed),('stdscaler',StandardScaler())]),['age']),
])

In [28]:
df[['default','age']].describe(include='all')

       default          age
count    41188  41188.00000
unique       3          NaN
top         no          NaN
freq     32588          NaN
mean       NaN     40.02406
std        NaN     10.42125
min        NaN     17.00000
25%        NaN     32.00000
50%        NaN     38.00000
75%        NaN     47.00000
max        NaN     98.00000

In [40]:

transformed_df = prep.fit_transform(df)

transformed_df

array([['no', 1.5855590494885303],
       ['unknown', 1.6842830960014712],
       ['no', -0.29019783425734447],
       ...,
       ['no', 1.5855590494885303],
       ['no', 0.400870491333241],
       ['no', 2.918333677413231]], dtype=object)

In [44]:
tdf = pd.DataFrame(transformed_df)
tdf[0].value_counts()

no         32588
unknown     8600
Name: 0, dtype: int64

In [45]:
np.arange(3,11,2)

array([3, 5, 7, 9])

In [47]:
X = 1e-9

In [48]:
type(X)

float